<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.cart">
	<insert id="insertCart" parameterType="Cart">
		<![CDATA[
			insert into cart (userid, gCode, gName, gPrice, 
							  gSize, gColor, gAmount, gImage)
			values (#{userid},#{gCode},#{gName},#{gPrice},
					#{gSize},#{gColor},#{gAmount},#{gImage})
		]]>
	</insert>
	
	<select id="selectCartList" resultType="Cart" parameterType="String">
		<![CDATA[
			select * from cart where userid = #{userid}
		]]>
	</select>
	
	<select id="selectCart" resultType="Cart" parameterType="Integer">
		<![CDATA[
			select * from cart where num = #{num}
		]]>
	</select>
	
	<select id="selectCheckedCart" parameterType="list" resultType="Cart">
		select * from cart where num in
		<foreach collection="list" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
	
	<update id="updateCartAmount" parameterType="Map">
		<![CDATA[
			update cart set gAmount = #{gAmount} where num = #{num}
		]]>
	</update>
	
	<delete id="deleteCart" parameterType="Integer">
		<![CDATA[
			delete from cart where num = #{num}
		]]>
	</delete>
	
	<insert id="insertOrder" parameterType="Order">
		<![CDATA[
			insert into orderinfo (userid, gCode,gName,gPrice,gSize,gColor,
							  gAmount,gImage,orderName,post,addr1,addr2,
							  phone,payMethod,orderDay)
			value (#{userid},#{gCode},#{gName},#{gPrice},#{gSize},#{gColor},
				   #{gAmount},#{gImage},#{orderName},#{post},#{addr1},#{addr2},
				   #{phone},#{payMethod},curdate()) 
		]]>
	</insert>
</mapper>