<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.kosta.shop.dto.Member" alias="Member" />
		<typeAlias type="com.kosta.shop.dto.Goods" alias="Goods" />
		<typeAlias type="com.kosta.shop.dto.Cart" alias="Cart" />
		<typeAlias type="com.kosta.shop.dto.Order" alias="Order" />
	</typeAliases>
</configuration>